<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= attachment_image_tag @coordinate, :image, format: 'jpeg', size: "300x400" %>
    </div>

    <div class="col-md-8">
      <p>説明<%= @coordinate.text %></p><br>

      <%#いいねボタン%>
        <% if @coordinate.favorited_by?(current_user) %>
          <%= link_to user_coordinate_favorites_path(@user, @coordinate), method: :delete do %>
            <i class="fas fa-heart"></i>
            <%= @coordinate.favorites.count %> いいね
          <% end %>
        <% else %>
          <%= link_to user_coordinate_favorites_path(@user, @coordinate), method: :post do %>
            <i class="far fa-heart"></i>
            <%= @coordinate.favorites.count %> いいね
          <% end %>
        <% end %><br>

      <%= link_to "編集",edit_user_coordinate_path(current_user,@coordinate),class: 'btn btn-edit' %>
        
      <%= link_to "削除",user_coordinate_path(current_user,@coordinate),method: :delete, class: 'btn btn-delete' %><br>

      <%= link_to "戻る",user_coordinates_path(@user), class: 'btn btn-index' %><br>
    </div>
  </div>
</div>