<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
    <table class = "table">
      <% users.each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user) do %>
              <%= attachment_image_tag user, :profile_image, format: 'jpeg', class: "profile_img", fallback: "no_image.jpg", size: "100x100",class: "img-fluid" %>
            <% end %>
          </td>
          <td><%= user.name %></td>
          <td><%= simple_format(user.introduction) %>
          <td>フォロー数：<%= user.follower.count %></td>
          <td>フォロワー数：<%= user.followed.count %></td>
          <td>
            <% if current_user != user %>
              <% if current_user.following?(user) %>
                <%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, class: "btn btn-add" %>
              <% else %>
                <%= link_to "フォローする", user_relationships_path(user.id), method: :POST, class: "btn btn-change" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    </div>
  </div>
</div>