<div class="container">
  <div class="row">
    <div class="bg-light p-3 w-100 rounded">
    <h4><%= user.name %>の<br>クローゼット</h4>
    <table class="table">
  <tr>
    <td class="text-center"><%= attachment_image_tag user, :profile_image, format: 'jpeg', class: "profile_img", fallback: "no_image.jpg", size: "100x100" %></td>
  </tr>
  <tr>
    <td>ニックネーム：　<%= user.name %></td>
  </tr>
  <tr>
    <td>自己紹介：<br>
    <%= user.introduction %></td>
  </tr>
  <tr>
    <td>フォロー　：　<%= link_to user.follower.count, user_follows_path(user) %></td>
  </tr>
  <tr>
    <td>フォロワー：　<%= link_to user.followed.count, user_followers_path(user) %></td>
  </tr>
</table>

<!-- フォローボタン -->
<% if current_user != user %>
  <% if current_user.following?(user) %>
    <%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, class: "btn btn-add" %>
  <% else %>
    <%= link_to "フォローする", user_relationships_path(user.id), method: :POST, class: "btn btn-change" %>
  <% end %>
<% end %>

<% if user == current_user %>
  <%= link_to "編集する",edit_user_path(current_user), class: "btn btn-change" %>
<% end %>
</div>
</div>
</div>