<div class="container profile-page">
  <div class="row">
    <div class="offset-2 col-md-4 profile-box">
      <h4>プロフィール編集</h4>
    </div>
  </div> 
  <%= render partial: 'items/error', locals: {image: @user} %>
  <%= form_for(@user) do |f| %>
  <div class="row">
    <div class="offset-2 col-md-4 profile-box">
      <p><%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "280x280", id: "prev-img",class: "img-fluid" %></p>
      <label for="post_img" class= "btn btn-change">
      <%= f.attachment_field :profile_image, id: "post_img", class: "img_form" %>画像選択</label>
    </div>

    <div class="col-md-6 text-box">
      <span>ニックネーム<p><%= f.text_field :name, class: "profile_name" %></span></p>
      
      <span>自己紹介<p><%= f.text_area :introduction, class: "profile_form" %></span></p>

      <%= f.submit "更新する", class: "btn btn-change" %>
      <%= link_to "戻る",user_path(current_user), class: "btn btn-move" %>
    </div>
  </div>
  <% end %>
</div>   