<div class="container calendar-page">
  <div class="row">
    <div class="offset-2 col-md-4 calendar-box">
      <h4>カレンダー記録の編集</h4>
      <%= render partial: 'layouts/error', locals: {image: @calendar} %>
    </div>
  </div> 
  
  <%= form_for [current_user,@calendar] do |f| %>
  <div class="row">
    <div class="offset-2 col-md-4 calendar-box">
      <p><%= attachment_image_tag @calendar, :day_image, format: 'jpeg', fallback: "item_no_image.jpg", size: "300x400", id: "prev-img",class: "img-fluid" %></p>
      <label for="post_img" class= "btn btn-change">
      <%= f.attachment_field :day_image, id: "post_img", class: "img_form" %>画像選択</label>
    </div>

    <div class="col-md-6 text-box">
      <p><%= f.datetime_select :start_time %></p>

      <p><%= f.text_area :text, class: "day_form", placeholder: "「◯◯さんとランチに行った」など" %></p>

      <%= f.submit "変更を更新する",class: "btn btn-change" %>
      <%= link_to "戻る",user_calendar_path(current_user,@calendar), class: "btn btn-move" %>
    </div>
  </div>
  <% end %>
</div>   