<div class="container">
  <h4>コーディネートを編集する</h4>
  <%= render partial: 'items/error', locals: {image: @calendar} %>
    <%= form_for [current_user,@calendar] do |f| %>
      <div class="row">
        <div class="col-md-4">
          <%= attachment_image_tag @calendar, :day_image, format: 'jpeg', fallback: "item_no_image.jpg", size: "300x400", id: "prev-img" %>
          <label for="post_img" class= "btn btn-change">
          <%= f.attachment_field :day_image, id: "post_img", class: "img_form" %>
          画像選択</label>
        </div>

        <div class="col-md-8">
          <%= f.datetime_select :start_time %><br>

          <%= f.text_field :text, placeholder: "「◯◯さんとランチに行った」など" %><br>

          <%= f.submit "変更を更新する",class: "btn btn-change" %>
        </div>
      </div>
    <% end %>
</div>