<div class="container calendar-page">
  <div class="row">
    <div class="offset-2 col-md-4 calendar-box">
      <h4>カレンダーに記録</h4>
    </div>
  </div>
  <%= render partial: 'items/error', locals: {image: @calendar} %>
  <%= form_for [current_user,@calendar] do |f| %>
  <div class="row">
    <div class="offset-2 col-md-4 calendar-box"> 
      <p><%= attachment_image_tag @calendar, :day_image, format: 'jpeg', fallback: "item_no_image.jpg", size: "300x400", id: "prev-img",class: "img-fluid" %></p>
      <label for="post_img" class= "btn btn-add">
      <%= f.attachment_field :day_image, id: "post_img", class: "img_form" %>画像選択</label>
    </div>

    <div class="col-md-6 text-box">
      <p><%= f.datetime_select :start_time %></p>

      <p><%= f.text_area :text, class: "day_form", placeholder: "「◯◯さんとランチに行った」など" %></p>

      <p><%= f.submit "保存する",class: "btn btn-add" %>
      <%= link_to "戻る",user_calendars_path(current_user), class: "btn btn-move" %></p>
    </div>
  </div>
  <% end %>    
</div>