<div class="container about-page">
  <h1 class="mb-3">はじめての人へ</h1>
    
    <div class="row pt-3 mb-3 bg-light rounded">
      <div class="col-md-6">
      <h2 class="mb-5">アイテムの写真を一覧表示</h2>
        <p>持っているアイテムを写真に撮って保存します。</p>
        <p>カテゴリーごとに一覧で表示できるので、</p>
        <p>「つい似たようなものを買ってしまった」を防げます。</p>
      </div>
      <div class="col-md-6">
        <p><%= image_tag 'item.jpg', :width => '400', :height => '300' %></p>
      </div>
    </div>

    <div class="row pt-3 mb-3 bg-light rounded">
      <div class="col-md-6">
      <h2 class="mb-5">着用回数をカウント</h2>
        <p>アイテムごとに着用回数をカウントし、</p>
        <p>トップ３、ワースト３をランキングで表示できます。</p>
        <p>着用回数の少ないものはどこか気に入らない点が</p>
        <p>あるのかもしれません。</p>
      </div>
      <div class="col-md-6">
        <p><%= image_tag 'count.jpg', :width => '400', :height => '300' %></p>
      </div>
    </div>

    <div class="row pt-3 mb-3 bg-light rounded">
      <div class="col-md-6">
      <h2 class="mb-5">コーディネート写真を保存</h2>
        <p>手持ちのアイテムで全通りのコーディネートを</p>
        <p>組んでみましょう。</p>
        <p>例えば、トップス５着、ボトムス５着で２５通り</p>
        <p>約１ヶ月被らないコーディネートができます。</p>
      </div>
      <div class="col-md-6">
        <p><%= image_tag 'coordinate.jpg', :width => '400', :height => '300' %></p>
      </div>
    </div>
 
    <div class="row pt-3 mb-3 bg-light rounded">
      <div class="col-md-6">
      <h2 class="mb-5">カレンダーに<br>コーディネートを記録</h2>
        <p>「前にあの人に会った時どんな服着てたっけ？」</p>
        <p>いつも同じ服と思われないために、</p>
        <p>カレンダーに記録することができます。</p>
      </div>
      <div class="col-md-6">
        <p><%= image_tag 'calendar.jpg', :width => '400', :height => '300' %></p>
      </div>
    </div>

    <div class="row pt-3 mb-3 bg-light rounded">
      <div class="col-md-6">
      <h2 class="mb-5">他の人のクローゼット<br>コーディネートが見られる</h2>
        <p>他のミニマルなクローゼットを見て参考にできます。</p>
        <p>コーディネートに「いいね」をすることができます。</p>
        <p>また、ユーザーをフォローすることができます。</p>
      </div>
      <div class="col-md-6">
        <p><%= image_tag 'closet.jpg', :width => '400', :height => '300' %></p>
      </div>
    </div>
</div>