<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h4><%= current_user.name %>の<br>クローゼット</h4>
      <table class="table">
      <%#プロフィール欄%>
      <%= attachment_image_tag current_user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %><br>
        <tr>
          <td>名前</td>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <td>自己紹介</td>
          <td><%= current_user.introduction %></td>
        </tr>
      </table>
      <%= link_to "編集",edit_user_path(current_user), class: 'btn btn-edit' %>
    </div>

    <div class="col-md-10">
    <p>着用回数ベスト３</p>
      <div class="item_index">
        <% @my_ranks.each.with_index(1) do |item,i| %>
          <div class="item_rank">
            <p>第<%= i %>位</p>
            <%= attachment_image_tag item, :item_image, format: 'jpeg', fallback: "item_no_image.jpg", size: "150x200" %>
          </div>
        <% end %>
      </div>

    <p>着用回数ワースト３</p>
      <div class="item_index">
        <% @my_worst_ranks.each.with_index(1) do |item,i| %>
          <div class="item_rank">
            <p>第<%= i %>位</p>
            <%= attachment_image_tag item, :item_image, format: 'jpeg', fallback: "item_no_image.jpg", size: "150x200" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>