<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%#プロフィール欄%>
      <%= render 'users/profile', user: current_user %>
    </div>

    <div class="col-md-9">
    <div class="p-3 mb-5 bg-light rounded">
    <h4><i class="fas fa-crown"></i> 着用回数ベスト３ <i class="fas fa-crown"></i></h4>
      <div class="item_index p-3 bg-light rounded">
      <% count = 0 %>
      <% i=0 %>
        <% @best_ranks.each.with_index(1) do |item,j| %>
          <div class="item_rank">
            <% if count!=item.likes.count%>
              <% i=j %>
              <% count=item.likes.count %>
            <% end %>
            <p>第<%= i %>位</p>
            <%= attachment_image_tag item, :item_image, format: 'jpeg', fallback: "item_no_image.jpg", size: "150x200",class: "img-fluid" %>
            <p>着用回数：<%= item.likes.count %>回</p>
          </div>
        <% end %>
      </div>
    </div>
    <p></P>
    <div class="p-3 mb-5 bg-light rounded">
    <h4><i class="fas fa-ghost"></i> 着用回数ワースト３ <i class="fas fa-ghost"></i></h4>
      <div class="item_index bg-light rounded">
      <% count = 1 %>
      <% i=1 %>
        <% @worst_ranks.each.with_index(1) do |item,j| %>
          <div class="item_rank">
            <% if count!=item.likes.count%>
              <% i=j %>
              <% count=item.likes.count %>
            <% end %>
            <p>第<%= i %>位</p>
            <%= attachment_image_tag item, :item_image, format: 'jpeg', fallback: "item_no_image.jpg", size: "150x200",class: "img-fluid" %>
            <p>着用回数：<%= item.likes.count %>回</p>
          </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>