<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h4><%= current_user.name %>の<br>クローゼット</h4>
      <%#プロフィール欄%>
      <%= render 'profile', user: current_user %>
    </div>

    <div class="col-md-10">
    <h4>着用回数ベスト３</h4>
      <div class="item_index">
        <% @my_ranks.each.with_index(1) do |item,i| %>
          <div class="item_rank">
            <p>第<%= i %>位</p>
            <%= attachment_image_tag item, :item_image, format: 'jpeg', fallback: "item_no_image.jpg", size: "150x200" %>
            <p>着用回数<%= item.likes.count %>回</p>
          </div>
        <% end %>
      </div>

    <h4>着用回数ワースト３</h4>
      <div class="item_index">
        <% @my_worst_ranks.each.with_index(1) do |item,i| %>
          <div class="item_rank">
            <p>第<%= i %>位</p>
            <%= attachment_image_tag item, :item_image, format: 'jpeg', fallback: "item_no_image.jpg", size: "150x200" %>
            <p>着用回数<%= item.likes.count %>回</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>