<div class="container">
  <h2>アイテム登録</h2>
    <div class="row">

      <div class="col-md-4">
        <%= form_for (@item) do |f| %>
          <%= f.attachment_field :item_image %>
      </div>

      <div class="col-md-8">
          <span>アイテム名<%= f.text_field :name %></span><br>

          <%= f.fields_for :category do |c| %>
          <span>カテゴリー<%= c.collection_select :category_id, @categories, :id, :name, {include_blank: '--選択してください--'}  %></span><br>
          <% end %>

          <%= f.fields_for :scene do |s| %>
          <span>シーン<%= s.collection_select :scene_id, @scenes, :id, :name, {include_blank: '--選択してください--'}  %></span><br>
          <% end %>

          <%= f.fields_for :season do |season| %>
          <span>シーズン<%= season.collection_select :season_id, @seasons, :id, :name, {include_blank: '--選択してください--'}  %></span><br>
          <% end %>

          <span>説明<%= f.text_area :text %></span><br>
          <%= f.submit '保存する',class: 'btn-new-item'%>
        <% end %>
      </div>
    </div>
</div>